html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Verdana", sans-serif;
  color: #000000;
  background: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
}

.container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.modal-feedback {
  display: none;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.modal-error {
  animation-name: bonus;
  animation-duration: 1s;
}

.modal-feedback-show {
  display: block;
  position: absolute;
  z-index: 999;
  width: 1200px;
  top: -100px;
  left: 90px;
  animation-name: bounce;
  animation-duration: 0.6s;
}

.container-inner {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: wrap;
  flex-direction: wrap;
}

.main-navigaton,
.inner-navigaton {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-header,
.inner-header {
  background: #eeeeee;
}

.inner-header {
  margin: 0 0 30px 0;
  min-height: 355px;
}

.header-page-logo {
  padding: 0;
  margin: 50px 0 0 0px;
  opacity: 1;
}

.header-page-logo:hover {
  opacity: 0.6;
}

.header-page-logo:active {
  opacity: 0.3;
}

.user-navigation {
  padding: 0;
}

.site-navigation {
  margin: 80px 0 0 0;
  padding: 0 0 0 10px;
}


.site-navigation li {
  display: inline;
  margin:0 50px 0 0;
  padding: 0;
}

.site-navigation a {
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}

.cart-link {
  margin: 64px 0 0 0;
  list-style-type: none;
}

.cart-link a:link {
  width: 15px height: 15px;
  padding: 0 0 0 30px;
  background: url('../img/cart-icon.png') no-repeat 0 0;
  text-transform: uppercase;
  text-align: right;
}

.cart-link a:hover {
  color: #fb565a;
  padding: 0 0 0 30px;
}

.cart-link a.active {
  padding: 0 0 10px 30px;
  color: #fb565a;
  border-bottom: 2px solid #fb5559;
}

.cart-link a:active {
  padding: 0 0 0 30px;
  color: #a6a6a7;
}


.site-navigation a,
.cart-link a {
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  line-height: 9px;
  text-decoration: none;
}

.site-navigation a:hover {
  color: #fb565a;
}

.site-navigation a:visted {
  color: #a6a6a7;
}

.site-navigation a:active {
  color: #000000;
  opacity: 0.6;
}

.site-navigation a.active {
  padding: 0 0 10px 0;
  color: #fb565a;
  border-bottom: 2px solid #fb5559;
}

.slogan {
  display: inline-block;
  width: 450px;
  overflow: hidden;
  color: #000000;
  font-size: 55px;
  font-weight: 500;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.btn,
.btn-info,
.feedback-btn,
.btn-order,
.btn-contacts {
  display: inline-block;
  min-height: 48px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  line-height: 48px;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.btn-info {
  min-width: 250px;
  margin: 25px 0 0 0;
}

.btn,
.btn-order {
  min-width: 160px;
}

.feedback-btn {
  min-width: 240px;
  border: none;
}

.btn-red,
.btn-info,
.feedback-btn,
.btn-contacts {
  background: #fb5559;
  border-top: 2px solid #fb565a;
}

.btn-order,
.btn-contacts {
  background: #e84044;
  border-top: 2px solid #e84044;
}

.btn-order:hover,
.btn-contacts:hover {
  background: #d83438;
  border-top: 2px solid #d83438;
  color: #ffffff;
}

.btn-order:active,
.btn-contacts:active {
  background: #d83438;
  color: #ffffff;
  border-top: 2px solid #c22e32;
}

.btn-info:hover,
.btn-red:hover,
.feedback-btn:hover {
  background: #e84044;
  color: #ffffff;
  border-top: 2px solid #fb565a;
}

.btn-info:active,
.btn-red:active,
.feedback-btn:active {
  background: #d83438;
  color: #e47174;
  border-top: 2px solid #c22e32;
}

.btn-green {
  background: #00cb74;
  border-top: 2px solid #00cb74;
}

.btn-green:hover {
  background: #00be6c;
  color: #ffffff;
  border-top: 2px solid #00cb74;
}

.btn-green:active {
  background: #00ab62;
  color: #43c18b;
  border-top: 2px solid #009a57;
}

.btn-yellow {
  background: #efc84a;
  border-top: 2px solid #efc84a;
}

.btn-yellow:hover {
  background: #ebb731;
  color: #ffffff;
  border-top: 2px solid #ebb731;
}

.btn-yellow:active {
  background: #e6a81d;
  color: #edc261;
  border-top: 2px solid #cf9719;
}

.banner-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.banner-content .banner-text {
  margin: 0;
  padding: 0;
}

.banner-content .slider {
  margin: 0 0 -3px 0;
  padding: 0;
}

.details {
  margin: -30px 0 0;
  padding: 0;
  line-height: 25px;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  padding: 0;
}

.service-item {
  margin: 80px 85px 0 0;
  list-style: none;
  text-align: left;
}

.service-item li:first-child {
  margin-left: 0;
  padding: 0;
}

.service-image {
  min-width: 300px;
  min-height: 146px;
}

.service-image-red {
  background: #fb5559;
}

.service-image-green {
  background: #00cb74;
}

.service-image-yellow {
  background: #f0ca47;
}

.service-title a {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}

.service-desc {
  width: 250px;
  overflow: hidden;
  color: #283136;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  text-overflow: ellipsis;
  white-space: pre-line;
}

.service-item .order {
  padding: 15px 0 0 0;
}

.nerds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 60px 0 0 0;
  padding: 20px 0 0 0;
  vertical-align: middle;
  border-top: 1px solid #eeeeee;
}

.nerds-title {
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  white-space: pre-wrap;
  text-overflow: ellipsis;
}

.nerds-slogan {
  margin: 20px 0 30px 0;
  line-height: 24px;
  color: #283136;
  font-weight: normal;
}

.nerds-orders-title {
  margin: 0;
  font-size: 16px;
  font-weight: 700
  color: #000000;
  line-height: 24px;
}


.nerds-orders-list {
  margin: 0;
  padding: 0;
  text-align: left;
  color: #000000;
  line-height: 24px;
}

.nerds-orders-title {
  overflow: hidden;
  margin: 35px 0 0 0;
  font-weight: bold;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.nerds-orders-list li {
  margin: 20px 0 0 0;
  padding: 0 0 0 40px;
  background: url('../img/line.png') no-repeat 5px 10px;
  list-style-type: none;
}

.nerds-items {
  margin: 0;
  padding: 40px 90px 0 0;
}

.nerds-statistics {
  font-size: 16px;
  text-align: center;
}

.statistics-info-title {
  margin: 0 0 20px 0;
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.statistics-data {
  margin: 0;
  padding: 0;
  color: #283136;
  font-weight: normal;
  line-height: 18px;
  vertical-align: middle;
}

.statistics-data li {
  display: inline-block;
  text-align: left;
}

.data-1,
.data-2,
.data-3 {
  display: inline-block;
  margin: 20px 0;
  font-size: 45px;
  font-weight: 700;
  vertical-align: middle;
  color: #000000;
}

.data-desc {
  width: 60px;
}

.our-clients {
  margin: 70px 0 0 0;
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.our-clients-item {
  margin: 0;
  padding: 0;
  text-align: left;
}

.our-clients-item li {
  display: inline-block;
  margin: 0;
  padding: 40px 0;
  margin: 0 80px 0 0;
  vertical-align: middle;
}

.our-clients-item li:first-child {
  margin-left: 40px;
}

.our-clients-item a:link {
  opacity: 0.5;
}

.our-clients-item a:hover {
  opacity: 1;
}

.our-clients-item a:active {
  opacity: 0.3;
}

.templates-list {
  margin: 0;
  padding: 0;
  text-align: left;
}

.templates-shop {
  padding: 0;
  margin: 0 0 0 125px;
}

.template-item {
  display: inline-block;
  margin: 0 50px 20px 0;
  background: #e9e9e9;
  vertical-align: middle;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}

.template-item:hover {
  background: #4d4d4d;
}

.template-item:hover .template-info {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 360px;
  min-height: 231px;
  background: #eeeeee;
  box-shadow: 5px 10px 18px #d5d5d5;
  text-align: center;
  vertical-align: middle;
}

.template-item .template-info {
  display: none;
}

.template-info .template-title {
  margin: 35px 0 25px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.template-info .template-desc {
  margin: 0 0 30px 0;
  word-wrap: text-wrap;
  font-size: 16px;
  color: #666666;
}

.decor-container {
  position: relative;
  padding: 40px 0 0 0;
  margin: 0;
  background: url('../img/dotts.png') no-repeat 20px 15px;
}

.templates-list .template-image {
  margin: 0;
  padding: 0;
}

.pagination-list {
  display: flex;
  margin: 60px 0;
  padding: 0;
}

.pagination-list a {
  min-height: 40px;
  margin: 0 10px 0 0;
  padding: 0 16px;
  background: #eeeeee;
  color: #000000;
  font-size: 16px;
  font-weight: 500;
  line-height: 40px;
  text-decoration: none;
  border: 3px solid #eee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.pagination-list a.active {
  background: #ffffff;
  color: #000000;
  border: 3px solid #eeeeee;
}

.pagination-list a:hover:not(.active) {
  background: #dfdfdf;
  border: none;
}

.pagination-list .pagination-item-next {
  min-height: 40px;
  min-width: 260px;
  text-align: center;
}

.sorting-block {
  display: flex;
  list-style: none;
  padding: 0 0 15px 0;
}

.sorting-title {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: left;
}

.sorting-items {
  margin: 0 0 0 300px;
  padding: 0;
}

.sorting-items a {
  margin: 0 20px 0 0;
  color: #000000;
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
  opacity: 0.4;
}

.sorting-items a:hover {
  opacity: 0.6;
}

.sorting-items a.active {
  opacity: 1;
}

.footer-block {
  padding: 80px 0 40px 0;
}

.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.footer-info {
  margin: 80px 0 0 120px;
}

.footer-social {
  margin: 80px 0 0 0;
  padding: 0;
}

.footer-social li {
  display: inline-block;
  margin: 0 11px 0 0;
  padding: 0;
  vertical-align: middle;
}

.footer-social a {
  display: inline-block;
  width: 79px;
  height: 79px;
  line-height: 90px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.footer-social a:link {
  background: #e2e2e2;
}

.footer-social a:hover {
  background: #e74246;
}

.footer-social a:active {
  background: #d7373b;
  box-shadow: 0px 0 2px 0 #c22e32;
}

.footer-social img:active {
  opacity: 0.6;
}


.footer-info-text {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  color: #000000;
}

.discount-info {
  margin: 0;
  color: #444444;
  font-size: 16px;
  font-weight: normal;
}

.big-title {
  padding: 27px 0 0 0;
  color: #000000;
  font-size: 55px;
  font-weight: 700;
  text-align: center;
}

.filters {
  color: #283136;
}

.filters legend {
  margin: 0;
  padding: 0 0 25px 0;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.filters fieldset {
  margin: 0 0 25px 0;
  padding: 0;
  border: none;
}

.filters .btn-filters {
  min-width: 220px;
  min-height: 48px;
  display: inline-block;
  margin: 20px 0;
  padding: 0 20px;
  background: #efefef;
  border-top: 2px solid #efefef;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  border: none;
  vertical-align: middle;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.filters .btn-filters:hover {
  background: #e0e0e0;
  opacity: 0.7;
}

.filters .btn-filters:active {
  background: #d6d6d6;
  opacity: 0.4;
}

.btn-filters {
  min-width: 200px;
  min-height: 50px;
}

.radio,
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 25px;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input[type=radio],
.checkbox input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  cursor: pointer;
  height: 0;
  width: 0;
}

.radio .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 25px;
  min-width: 25px;
  background: #ffffff;
  border: 4px solid #b8b8b8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 50%;
}

.radio:hover input~.checkmark,
.radio input:checked~.checkmark:hover {
  background: #ffffff;
  border: 4px solid #4d4d4d;
}

.radio input:checked~.checkmark {
  background: #ffffff;
  border: 4px solid #b8b8b8;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked~.checkmark:after {
  display: block;
}

.radio .checkmark:after {
  top: 4px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #b8b8b8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 50%;
}

.radio:hover .checkmark:after {
  top: 4px;
  left: 5px;
  width: 8px;
  height: 8px;
  background: #4d4d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 50%;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background: #ffffff;
  border: 2px solid #a6a6a6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.checkbox:hover input~.checkmark,
.checkbox:hover input~.checkmark:hover {
  border: 2px solid #4d4d4d;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.checkbox input:checked~.checkmark {
  background: #ffffff;
  border: 2px solid #a6a6a6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.checkbox input:checked~.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  top: -4px;
  left: 7px;
  width: 8px;
  height: 14px;
  border: 3px solid #a6a6a6;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.checkbox:hover .checkmark:after {
  top: -4px;
  left: 7px;
  width: 8px;
  height: 14px;
  border: 3px solid #4d4d4d;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.feedback-form {
  position: relative;
  width: 960px;
  height: 590px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 5px 10px 18px #000000;
}

.feedback-title {
  padding: 20px 0 40px 0;
  margin: 0;
  color: #000000;
  font-size: 45px;
  font-weight: normal;
}

.feedback-form ul {
  list-style: none;
}

.feedback-form fieldset {
  width: 780px;
  margin: 0 auto;
  border: none;
}

.feedback-form label {
  display: block;
  padding: 10px 0 10px 0;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
}

.feedback-form .inputs {
  display: inline-block;
  margin: 0 0 20px 0;
}

.feedback-form .inputs:nth-child(2) {
  margin-right: 35px;
}

.modal-feedback-close {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 21px;
  height: 21px;
  background: url('../img/close-cross.png') no-repeat;
  border: none;
  text-indent: -999999px;
}

.modal-feedback-close:hover {
  opacity: 0.7;
}

.modal-feedback-close:active,
.close-btn:visited {
  opacity: 0.4;
}

.feedback-form textarea {
  clear: both;
  min-width: 760px;
  min-height: 100px;
  padding: 15px;
  color: #000000;
  font-size: 16px;
  border: 1px solid #d7dcde;
  resize: none;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.feedback-form input[type=text],
.feedback-form input[type=email] {
  width: 360px;
  padding: 0 5px;
  color: #000000;
  font-size: 16px;
  border: 1px solid #d7dcde;
  min-height: 47px;
  line-height: 47px;
  box-sizing: border-box;
  outline: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.feedback-form input[type=text] .feedback-form input[type=email] {
  opacity: 0.4;
}

.feedback-form input[type=text]:hover,
.feedback-form input[type=email]:hover {
  opacity: 0.6;
}

.feedback-form input[type=text]:focus,
.feedback-form input[type=email]:focus {
  border: 1px solid #000000;
  color: #000000;
}

.feedback-form input[type=text]:valid,
.feedback-form input[type=email]:valid {
  border: 1px solid #01a25e;
  color: #01a25e;
}

.feedback-form .send-button {
  padding-top: 45px;
}

.nerds-location {
  position: relative;
  margin: 0 auto;
  height: 416px;
  width: 1200px;
  background: #eeeeee url('../img/map.png') no-repeat 0 0;
}

.nerds-location .nerds-contact {
  position: absolute;
  top: 55px;
  left: 140px;
  width: 319px;
  height: 308px;
  background: #ffffff;
  text-align: center;
}

.nerds-location .nerds-title {
  margin: 0;
  padding: 40px 0;
  color: #000000;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
}

.nerds-location .nerds-address {
  width: 220px;
  margin: 0 auto;
  padding: 0 0 20px 0;
  color: #666666;
  font-size: 16px;
}

.nerds-location .tel {
  display:inline-block;
  padding: 20px 0 0 0;
  color: #666666;
  font-size: 16px;
}

.nerds-location .nerds-marker {
  position: absolute;
  top: 50px;
  right: 150px;
  width: 231px;
  height: 190px;
  background: url('../img/map-marker.png') no-repeat;
  text-indent: -9999999px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
