html,
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Verdana, sans-serif;
  color: #000000;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a:link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  font-family: Roboto, Verdana, sans-serif;
}

fieldset {
  border:none;
}



.container {
  width: 1160px;
  margin: 0 auto;
  padding:0 20px;
}

.container-inner {
  display: flex;
  flex-direction: wrap;
}


.templates-list .template-item {

   padding: 0;
}

.main-navigaton,
.inner-navigaton {
  display: flex;
  align-items: center;
}



.main-navigaton .header-page-logo ,
.main-navigation .site-navigation {
}

.main-header,
.inner-header {
  background: #eeeeee;
}

.header-page-logo {
  padding:0;
  margin: 30px 0 0 0;
  opacity: 1;
}

.header-page-logo:hover {
  opacity: 0.6;
}

.header-page-logo:active {
  opacity: 0.3;
}

.site-navigation {
   padding: 10px 0 0 0
}


.site-navigation li {
  display: inline;
}

.site-navigation a {
  text-align: left;
  text-transform: uppercase;
}

.cart-link {
  flex-grow: 30;
}

.cart-link a {
  text-transform: uppercase;
  text-align: right;
}


.site-navigation li {
  margin:0 20px 0 0;
}

.site-navigation a,
.cart-link a {
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  line-height: 9px;
  text-decoration: none;
}

.site-navigation a:hover,
.cart-link a:hover {
  color: #fb565a;
}

.site-navigation a:visited,
.cart-link a:visited {
  color: #a6a6a7;
}

.site-navigation a:active,
.cart-link a:active {
  padding: 0 0 10px 0;
  color: #fb565a;
  border-bottom: 2px solid #fb5559;
}

.slogan {
  display: inline-block;
  color: #000000;
  font-size: 55px;
  font-weight: normal;
  line-height: 55px;
  text-align: left;
}

.btn,
.btn-info {
  display: inline-block;
  min-height: 50px;
  padding: 0 20px;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  border-radius: 2px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.btn-info {
  min-width: 240px;
}

.btn {
 min-width: 160px;
}

.btn-red,
.btn-info {
  background: #fb565a;
}

.btn-info:hover,
.btn-red:hover {
  background: #e84044;
  color: #e47174;
}

.btn-info:active,
.btn-red:active {
  background: #d83438;
  color: #e47174;
  box-shadow: 0px 0 2px 0 #c22e32;
}

.btn-green {
  background: #00ca74;
}

.btn-green:hover {
  background: #00be6c;
  color: #88e1ba;
}

.btn-green:active {
  background: #00ab62;
  color: #43c18b;
  box-shadow: 0px 0 2px 0 #009a57;
}

.btn-yellow {
  background: #efc84a;
}

.btn-yellow:hover {
  background: #ebb731;
  color: #ffffff;
}

.btn-yellow:active {
  background: #e6a81d;
  color: #edc261;
  box-shadow: 0px 0 2px 0 #cf9719;
}

.banner-content {
  display: flex;
  flex-direction: nowrap;
  justify-content: left;
}

.banner-content .banner-text {
  margin:10px 0 0;
  padding: 0;
}

.banner-content  .slider {
  margin: 0 0 -3px 0;
  padding: 0;
}

.details {
  margin: 0;
}

.service-list {
  display: flex;
  flex-direction: wrap;
  justify-content: center;
}

.service-list .service-item  {
   margin: 80px 40px 0 0;
}


.service-title {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  line-height: 9px;
  text-align: left;
}

.service-desc {
  color: #283136;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-align: left;
}


.nerds-items {
  display: flex;
  flex-wrap: nowrap;
  align-items: left;
}


.nerds-title {
  color: #000000;
  font-size: 45px;
  font-weight: normal;
}

.nerds-slogan {
  color: #283136;
  font-weight: normal;
}

.nerds-orders-title,
.nerds-orders-list,
{
  color: #000000;
  line-height: 24px;
}

.nerds-orders-title {
  font-weight: bold;
  text-transform: uppercase;
}

.nerds-statistics {
   font-size: 16px;
   text-align: center;
}

.statistics-info-title {
  color: #000000;
  font-weight: bold;
  line-height: 24px;
  text-transform: uppercase;
}

.statistics-data {
  color: #283136;
  font-weight: normal;
  line-height: 18px;
}

.statistics-data li {
  display: inline-block;
  text-align: left;
}

.data-1,
.data-2,
.data-3 {
  margin:30px 0;
  color: #000000;
  font-size: 45px;
  font-weight: bolder;
  line-height: 24px;
}

.our-clients {
  text-align: center;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
}

.our-clients-item li {
  display: inline-block;
  margin: 20px 20px 10px;
  vertical-align: middle;
  line-height: 50px;
}

.our-clients-item a:link img {
   opacity: 0.5;
}

.our-clients-item a:hover img {
   opacity: 1;
}

.our-clients-item a:active img  {
   opacity: 0.3;
}


.templates-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.templates-list .template-item {
  margin:0 10px;
  background: #ffffff;
}


.pagination-list {
  display:inline-block;
  list-style: none;
}

.pagination-item a {
  display:inline-block;
  color: #000000;
  border:1px solid #eeeeee;
  background-color: #eeeeee;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  background-color: #663d15;
}

.pagination-item-current a {
  color: #000000;

  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}


/* Стили блока footer */
.footer {
  display: flex;
   align-content: flex-end;
  justify-content: left;
}

.footer-info {
  margin:20px 0 0 140px;
}

.footer-social li {
  display: inline-block;
  margin: 0 11px 0 0;
  padding: 0;
}

.footer-social a {
  display: inline-block;
  width: 79px;
  height: 79px;
  line-height: 90px;
  border-radius: 50%;
  text-align: center;
}

.footer-social a:link {
  background: #e1e1e1;
}

.footer-social a:hover {
  background: #e74246;
}

.footer-social a:hover {
  background: #e74246;
}

.footer-social a:visited,
.footer-social a:active {
  background: #d7373b;
}

.footer-info {
  text-align: left;
}

.footer-info-text {
  margin: 0;
  padding: 0;
  font-size: 36px;
  font-weight: bolder;
  color: #000000;
}

.discount-info {
  color: #444444;
  font-size: 16px;
  font-weight: normal;
}


.big-title {
  color: #000000;
  font-size: 55px;
  font-weight: normal;
  text-align: center;
}

.filters {
  color: #283136;
}

.filters p {
  font-size: 16px;
  font-weight: normal;
  line-height: 20px;
  text-align: left;
}

.filters p:hover {
   opacity: 0.7
}

.filters p:active {
    opacity: 1
}

.filters legend {
  font-weight: bold;
  text-transform: uppercase;
}

.filters .btn-filters {
  display: inline-block;
  padding: 0 20px;
  background: #eeeeee;
  color: #000000;
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.btn-filters {
  min-width: 200px;
  min-height: 50px;
}

.filters .btn-filters:hover {
  background: #e0e0e0;
}

.filters .btn-filters:active,
.filters .btn-filters:visited {
  background: #e0e0e0;
  box-shadow:  2px 1px solid #e0e0e0;
}

.visually-hidden{
  display: none;
}

